// Our picks section
section
    .container.py-6
        .row
            .col-xl-8.mx-auto.text-center.mb-5
                h2.text-uppercase Our picks for Winter 2018 
                p.lead.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        .row.align-items-md-stretch
            .col-lg-4.d-flex.align-items-lg-stretch
                .d-flex.align-items-center.text-white.border-0.w-100.py-6.py-lg-4.text-center.mb-30px.mb-lg-0(style=`background: center center url(${path}img/photo/rahul-anil-214671-unsplash.jpg) no-repeat; background-size: cover;`)
                    a.tile-link(href=path + "category.html")  
                    .w-100
                        h1.text-uppercase Men
                        p.lead Consectetur adipisicing elit sed do eiusmod tempor.
            .col-lg-8
                .card.light-overlay.text-dark.border-0.mb-30px
                    img.card-img(src= path + 'img/photo/pete-bellis-189599-unsplash.jpg', alt='Card image')
                    a.tile-link(href=path + "category.html") 
                    .card-img-overlay.d-flex.align-items-center
                        .text-center.w-100.overlay-content
                            h1.text-uppercase Ladies
                            p.lead Consectetur adipisicing elit sed do eiusmod tempor.
                .row
                    .col-lg-4
                        .card.text-white.border-0.mb-lg-0.mb-30px
                            img.card-img(src=path + 'img/photo/haley-phelps-62815-unsplash.jpg', alt='Card image')
                            a.tile-link(href=path + "category.html") 
                            .card-img-overlay.d-flex.align-items-center
                                .text-center.w-100
                                    h2.text-uppercase.mb-0 Denim

                    .col-lg-4
                        .card.dark-overlay.text-white.border-0.mb-lg-0.mb-30px
                            img.card-img(src=path + 'img/photo/matese-fields-233175-unsplash.jpg', alt='Card image')
                            a.tile-link(href=path + "category.html") 
                            .card-img-overlay.d-flex.align-items-center
                                .text-center.w-100.overlay-content
                                    h4.text-uppercase.mb-0 Accessories
                    .col-lg-4
                        .card.text-white.border-0
                            img.card-img(src=path + 'img/photo/brooke-cagle-195856-unsplash.jpg', alt='Card image')
                            a.tile-link(href=path + "category.html") 
                            .card-img-overlay.d-flex.align-items-center
                                .text-center.w-100
                                    h2.text-uppercase.mb-0 Sales