button(type="button", class="btn btn-primary btn-sm d-none d-lg-block", data-toggle="collapse", data-target="#style-switch", id="style-switch-button")
    i.fa.fa-cog.fa-2x

#style-switch.collapse

    h4.text-uppercase.mb-4 Select theme colour

    form.mb-3
        select.form-control.style-switch-select(name="colour",id="colour")
            option(value="") select colour variant
            option(value=path + "css/style.default.css") violet
            option(value=path + "css/style.pink.css") pink
            option(value=path + "css/style.green.css") green
            option(value=path + "css/style.red.css") red
            //- option(value="sea") sea
            option(value=path + "css/style.blue.css") blue

    p.text-muted Stylesheet switching is done with JavaScript and can cause a blink while page loads. This will not happen in your production code.
          